@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: "#ffffff";
  --preto: "#000000";
  --cinza: "#e2e2e2";
}
body {
  font-family: var(--fonte);
  background-color: var(--branco);
  margin: 0;
  padding: 0;
}

@layer utilities{
  .container{
    @apply lg:w-[70%] max-lg:w-[80%] max-w-[1100px]
  }
}